body { padding-top:30px; }
.form-control { margin-bottom: 10px; }
#cklastname{
    margin-left: -16px;
    padding-top: 5px;
    font-size: 17px;
}
#ckname{
    margin-left: -16px;
    padding-top: 5px;
    font-size: 17px;
}
#ckemail{
    margin-left: -16px;
    padding-top: 5px;
    font-size: 17px;
}
#ckpass{
    margin-left: -16px;
    padding-top: 5px;
    font-size: 17px;
}
#ckRtpass{
    margin-left: -16px;
    padding-top: 5px;
    font-size: 17px;
}
.xxxxxx{
    width: 70vw;
    margin: auto;
    text-align: center;
    border-style: solid;
    
}